<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TransScript/targets/java/lib/crsx3.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<booleanAttribute key="org.eclipse.jdt.launching.ATTR_USE_START_ON_FIRST_THREAD" value="true"/>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.crsx.run.Crsx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="&quot;grammar=('net.sf.crsx.text.Text';'org.crsx.parser.CrsxMetaParser';'org.crsx.core.CoreMetaParser';'org.crsx.text.Text4MetaParser';)&quot; &#10;rules=crsx.crs&#10;term=\&quot;core/Core.crs4\&quot;&#10;wrapper=Compile&#10;output=../targets/java/compiler/org/crsx/compiler/core/Core.java&#10;sink=net.sf.crsx.text.TextSink&#10;javapackage=core&#10;omit-properties&#10;parse-locations=0&#10;javabasepackage=org.crsx.compiler"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TransScript"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-ea"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:crsx4/src}"/>
</launchConfiguration>
