<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/crsx4/targets/java/lib/crsx3.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.crsx.run.Crsx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="grammar=&quot;('net.sf.crsx.text.Text';'org.crsx.core.CoreMetaParser')&quot;&#10;rules=assert.crs&#10;input=../tests/utils/VarDemo.term&#10;sink=net.sf.crsx.text.TextSink&#10;wrapper=Main&#10;verbose=3&#10;omit-properties"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="crsx4"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:crsx4/src}"/>
</launchConfiguration>
