<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/TransScript NTS/targets/java/lib/crsx3.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.crsx.run.Crsx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="sink=net.sf.crsx.text.TextSink&#10;grammar=&quot;('net.sf.crsx.text.Text';)&quot;&#10;rules=pg/gensort.crs&#10;input=../samples/simple/simpl.nterm&#10;output=../samples/simple/simplsorts.crs&#10;wrapper=MakePrinter&#10;javabasepackage=org.crsx.compiler"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="TransScript NTS"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:crsx4/src}"/>
</launchConfiguration>
