<?xml version="1.0" encoding="UTF-8"?><launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/crsx4/targets/java/lib/crsx3.jar"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="net.sf.crsx.run.Crsx"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="sink=net.sf.crsx.text.TextSink&#10;grammar=&quot;('net.sf.crsx.text.Text';'org.crsx.pg.ANTLRMeta';)&quot;&#10;rules=pg/genparser.crs&#10;input=../samples/simple/simpl.nterm&#10;output=../samples/simple/SimplMetaParser.g4&#10;wrapper=MakeMetaParser"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="crsx4"/>
<stringAttribute key="org.eclipse.jdt.launching.WORKING_DIRECTORY" value="${workspace_loc:crsx4/src}"/>
</launchConfiguration>